  
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap'); */
  *{
    padding: 0;
margin: 0;
}
body{
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    margin-bottom: 6px;
    margin-left: 91px;
}
.container{
    max-height: 28vw;
    /* background-color: #bd4c4c; */
    max-width: 20;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: fit-content;
   
}
.row{
    margin-left: 96px;
}
.button{
    border-radius: 13px;
    height: 26px;
    width: 52px;
    font-size: larger;
margin:3px;
cursor: pointer;
}
.container input{
    padding-left: 13px;
    margin-bottom: 11px;
    margin-left: 100px;
    height: 32px;
    width: 217px;
    border-radius: 19px;
 
    font-family: 'Roboto', sans-serif;
}